<!-- <p>Hello World</p>

<div>
{{title}}
</div>

<div>
   The sum of 2 and 2 is {{2+2}}
  </div>
  <div>
    the double of 3 is {{duplicateNumber(3)}}
   </div> -->
   <app-menu></app-menu>
   <!-- <div>
    <input type="text" (input)="assignTitle($event)" />
   </div>
   <div>
     <input type="checkbox" checked (change)= "display = !display"/>
   </div>

   <app-lifecycletest *ngIf="display" [title]="title"></app-lifecycletest> -->
   <!-- <app-rating (onRating)="handleRating($event)"></app-rating> -->
   <div class="container">
     <router-outlet></router-outlet>

   </div>



